//colors
$white: #ffffff;
$magnolia: #f2f4ff;
$ghost-white: #f7f8fd;
$catskill-white: #f2f4fe;

$rhino: #373f68;
$dark-slate-blue: #3a4374;
$waikawa-grey: #647196;

$electric-purple: #ad1fea;
$bright-lilac: #c75af6;
$ultramarine-blue: #4661e6;
$lavender-blue: #7c91f9;
$crystal-blue: #62bcfa;
$blush: #f49f85;
$jasper: #d73737;
$light-coral: #e98888;
